<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Image Validation Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="OpenCamera" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Scan ID Cards
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ValidateStaticFace" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Validate single face
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CompareTwoFace" Match="NavLinkMatch.All">
                <span class="oi oi-aperture" aria-hidden="true"></span> Compare two face
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
