@page "/"





<div class="jumbotron">
    <h1 class="display-4">Image Validation OCR Service</h1>
    <p class="lead">This is a simple app to validate images.</p>
    <hr class="my-4">
    <p>It uses Azure's AI power</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Use Azure AI to extrat text on ID card Images</li>
        <li class="list-group-item">Validate face</li>
        <li class="list-group-item">Validate liveness check</li>
    </ul>
    @*<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>*@
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
